<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>商品一覧</title>
</head>

<body>
  <h1>商品システム</h1>
  <form>
    <button type="button" id="list-view-button">商品一覧</button>
    <button type="button" id="add-view-button">商品追加</button>
  </form>

  <!-- 商品一覧画面 -->
  <div id="list-view" style="display: none;">
    <h1>商品一覧</h1>
    <table id="table-view" border="1">
      <thead>
        <tr>
          <th>選択</th>
          <th>商品ID</th>
          <th>商品名</th>
          <th>値段</th>
        </tr>
      </thead>

      <tbody id="product-table" class="detail">

      </tbody>
    </table>
  </div>

  <!-- 商品詳細画面 -->
  <div id="detail-view" style="display: none;">
    <h1>商品詳細</h1>
    <p>
      商品ID：
      <input id="product-id" disabled></input>
    </p>
    <p>
      商品名：
      <input id="product-name">
    </p>
    <p>
      値段：
      <input id="product-price">
    </p>
    <p><span id="success2"></span></p>
    <p><span id="success3"></span></p>

    <button type="button" id="update">更新</button>
    <button type="button" id="delete">削除</button>
    </form>

  </div>

  <!-- 商品追加画面 -->
  <div id="add-view" style="display: none;">
    <h1>商品追加</h1>
    <form>

      <p>
        商品名：
        <input type="text" name="name" id="name">
      </p>
      <p>
        値段：
        <input type="text" name="price" id="price">
      </p>
      <p><button type="button" id="add">追加</button></p>
    </form>
    <span id="success"></span>
  </div>

  <script>
    'use strict'

    document.getElementById('list-view-button').addEventListener('click', () => {

      document.getElementById('add-view').style.display = 'none';
      document.getElementById('detail-view').style.display = 'none';
      document.getElementById('list-view').style.display = 'block';

      fetch('/api/products')
        .then(res => {
          res.json()
            .then(data => {
              const table = document.getElementById('product-table');
              table.innerHTML = '';

              data.forEach(product => {
                const row = document.createElement('tr');
                //row.innerHTML = `<td><a href="#"><span class="detail">${product.id}</span></a></td><td>${product.name}</td><td>${product.price}</td>`;
                row.innerHTML = `<td><input type="radio" name="select" class="radio"><input type="hidden" id="id" value="${product.id}"></td>
                                 <td>${product.id}</td><td>${product.name}</td><td>${product.price}</td>`;
                table.appendChild(row);
                // document.getElementById('id').textContent = product.id;
                // document.getElementById('name').textContent = product.name;
                // document.getElementById('price').textContent = product.price;

              })

              const details = document.querySelectorAll('.radio');

              details.forEach(detail => {

                detail.addEventListener('click', () => {
                  //document.getElementById('list-view').style.display = 'none';
                  document.getElementById('add-view').style.display = 'none';
                  document.getElementById('detail-view').style.display = 'block';
                  document.getElementById('success2').textContent = '';

                  //const id = document.getElementById('id').value;
                  const id = detail.parentNode.querySelector('#id').value;
                  console.log(id);

                  fetch(`/product/detail?id=${id}`)
                    .then(res => {
                      res.json()
                        .then(data => {
                          // JSONにアクセスして、データを直接取得してくる
                          document.getElementById('product-id').value = data.id;
                          document.getElementById('product-name').value = data.name;
                          document.getElementById('product-price').value = data.price;
                        });
                    });
                });

              });

            });

        });

    });




    //追加画面切り替え
    document.getElementById('add-view-button').addEventListener('click', () => {

      //document.getElementById('list-view').style.display = 'none';
      document.getElementById('detail-view').style.display = 'none';
      document.getElementById('add-view').style.display = 'block';
      document.getElementById('success').textContent = '';
      document.getElementById('name').value = '';
      document.getElementById('price').value = '';

    });

    //追加ボタンクリック
    document.getElementById('add').addEventListener('click', () => {

      const name = document.getElementById('name').value;
      const price = document.getElementById('price').value;

      const formData = new URLSearchParams();
      formData.append('name', name);
      formData.append('price', price);

      console.log(name);
      console.log(price);

      fetch('/api/product', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: formData // リクエストボディのデータを設定
      })
        .then((response) => {
          document.getElementById('success').textContent = '商品を追加しました';
        });

      });

    //更新ボタンクリック
    document.getElementById('update').addEventListener('click', () => {

      const id = document.getElementById('product-id').value;
      const name = document.getElementById('product-name').value;
      const price = document.getElementById('product-price').value;

      console.log(id, name, price);

      const formData = new URLSearchParams();
      formData.append('id', id);
      formData.append('name', name);
      formData.append('price', price);

      fetch(`/api/product/${id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: formData
      })
        .then((response) => {
          console.log(response)
          document.getElementById('success2').textContent = '商品を更新しました';
        }).catch(error => console.log(error));

    });

    //削除ボタンクリック
    // document.getElementById('delete').addEventListener('click', () => {

    //   const id = document.getElementById('product-id').textContent;

    //   const formData = new URLSearchParams();
    //   formData.append('id', id);

    //   fetch('product2-delete', {
    //     method: 'PUT',
    //     headers: {
    //       'Content-Type': 'application/x-www-form-urlencoded'
    //     },
    //     body: formData
    //   })
    //     .then((response) => {
    //       console.log(response)
    //       document.getElementById('success3').textContent = '商品を削除しました';
    //     }).catch(error => console.log(error));

    // });

  </script>

</body>

</html>