<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品追加</title>
    <style>
          .error {
              color: red;
          }
     </style>
</head>
<body>
<h1>商品追加</h1>
<form action="/add" method="post" th:object="${addForm}">
  <p>
    [[ #{form.lbl.productName} ]]
    <input type="text" th:field="*{name}">
<!--    <span class="error" th:each="error: ${#fields.errors('name')}">-->
<!--      [[ ${error} ]]-->
<!--    </span>-->
      <span class="error" th:errors="*{name}"></span>
  </p>
  <p>
      [[ #{form.lbl.price} ]]
    <input type="text" th:field="*{price}">
<!--    <span class="error" th:each="error: ${#fields.errors('price')}">-->
<!--      [[ ${error} ]]-->
<!--    </span>-->
      <span class="error" th:errors="*{price}"></span>
  </p>
  <p><button type="submit" th:text="追加"></button></p>
</form>
</body>
</html>